html{
    width: 100%;
    min-height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header side */

.headbar{
    display: flex;
    background-color:#fff;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 ;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px ;
    border-bottom: 1.2px solid black;
    position: sticky;
    top: 0;
   
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
header > div img{
    width: 55px;
    margin-left: 20px;
    cursor: pointer;
}
div img:hover{
    cursor: pointer;
}
.headbar i{
    width: 30px;
    width: fit-content;
    opacity: 0.5;  
}
i:hover{
    cursor: pointer;
    opacity: 1;
    
}
img:hover{
    cursor: pointer;
}
.center{
    display: flex;
}
.cearch {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 23px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}
.cearch:hover{
    cursor: text; 
}
.c-lens {
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    width: 40px;
    border: none;
    display: flex;
}
.microphone{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.button{
    width: 100%;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border: none ;
    border-left: 1px solid black;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}
.fa-magnifying-glass{
   font-size: large;
   margin: 0;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link > div {
    width: fit-content;
    margin: 12px;
}
.link > div i{
   width: fit-content;
}
div.mid-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
}
.mid-bar-style{
    background-color: rgb(226, 223, 223);
    border-radius: 5px;
    padding: 3px 10px;
    margin-left: 15px;
    font-size: x-small;
}
.mid-bar-style:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 177);
}
.mid-bar div:first-child{
    background-color: black;
    color:rgb(236, 244, 250);
}



/* left side */

.box-left{
    flex: 1;
    background-color: #fff;
    flex-direction: column;
    flex-wrap: wrap;
}
div.scroll{
    background-color: #fff;
    width: fit-content;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    flex-direction: column;
}
section{
    width: fit-content;
    background-color: #fff;
    display: flex;
}
.scroll > div{
    border-bottom:  1px solid rgb(0, 0, 0, 0.2);
    display: flex;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;   
}
.container span {
    width: 100%;
    padding: 10px;
    font-family: 'YouTube Sans', sans-serif;
    font-size: small;
    font-weight: lighter;
    display: flex;
    align-items: center;
}
.container span:last-child{
    margin-bottom: 10px  
}
.container span:hover{
    background-color: rgb(214, 211, 206);
    border-radius: 12px;
    cursor: pointer;
    font-size: medium ;
    background-position: 100%;
}
.container i{
    margin-right: 40px;
    margin-left: 10px;
}
span img{
    width:15%;
    align-content:center; 
    border-radius: 50%; 
    margin-right: 30px;
    margin-left: 15px;
}

/* right-side */

.box-right{
    flex:5;
    background-color:#fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px; 
}
div.box-right{
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
}
.box-right div{
    padding: 5px;
    margin: 20px 0;
    margin-top: 20px;
    width: 24%;
    margin-left: 10px;
}
.column{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}
iframe {
    border-radius: 10px;
}    
.box-right iframe:hover{
    transition: 0.5s;
    opacity: 0.3;
}
.box-right span{
    text-align: left;
    display: flex;
    align-items: center;
}
.box-right span:last-child{
    font-size: x-small;
    font-style: italic;
    color: #928d8d;
    display: flex;
    
}
.box-right img{
    display: flex;
    width:20px;
    flex-direction: row;
    border-radius: 50%; 
    margin: 5px;
    align-items: center;
}