header {
    display: flex;
}

header div:last-child {
    margin-left: auto;
}

header span {
    padding: 5px;
}

.lesson-details {
    display: flex;
    border: 1px solid blue;
    /* padding: 5px; */

}

.lesson-topic , .lesson-detail {
    font-weight: bold;
    border-right: 1px solid blue;
    padding: 5px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}
