*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.firstTop{
    display: flex;
    justify-content: space-between;
    background-color: #4c7383;;
    color: antiquewhite;
    padding: 10px 30px;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-size: 20px; 
     
}
.firstTop{
    background-image: url(sunset-hiking-like-ants-marching.jpg);
    
    
    
}
.firstTop button{
    border: 1px solid #9ddbf3;
    border-radius: 3px;
    align-content: center;
    padding: 5px;
    background-color:antiquewhite;
    color:#4c7383 ;
    cursor: pointer;
    margin: 20px;
    width: fit-content;
    
}
.firstTop button:hover{
    background-color:#4c7383  ;
    color:antiquewhite ;
    transition: 0.7s;
    cursor: pointer;
}

.logo{
    align-items: flex-start;
    margin-left: 40px;
}

.logo img{
    width: 50px;
    border-radius: 50%;
    border: 3px solid antiquewhite;
    padding: 5px;
}
.logo:hover{
    transition: 1.5s;
    transform: matrix(0, 1, 1, 0, 0, 0);
    cursor: pointer;
}

div i{
    margin-left: 5px;
    color: #501611;
}    

body{
    background-color: #4c7383;
}
main em{
    display: inline-block;
    font-size: 7px;
    text-align: center;  
}
main input{
    width: 325px;
}
.label{
    margin-left: 30px;
    color: antiquewhite;
}

.label:hover + .hide{
    width: 60px;
    height: 15px;
    border-style:inset;
    background-color: #4c7383;;
    color: antiquewhite;
    border-color: antiquewhite;
    border-radius: 2px;
    opacity: 0.7;
    display: inline-block;
    transition: 0.8s;

}

.welcome{
    display:flex;
    color: rgb(95, 48, 17);
    
}
.welcome div{

    font-size: 50px;
}

div::first-letter{
    color:  rgb(206, 154, 86);
    
}

.secondTop{
    display: flex;
    padding-top: 30px;
    background-color: #4c7383;;
    align-items: center;
    padding-bottom: 5px;
    padding-bottom: 30px;
}
.nav{
    align-items: flex-end;
}
.nav ul  {
    display: flex;
    justify-content: space-between;
    display: inline-block;
    color: antiquewhite;
    align-items: center;
    
}

.nav li{
    display: inline-block;
    margin-left: 200px;
    border: 1px solid antiquewhite;
    border-radius: 3px;
    padding: 5px;
}

.nav li:hover{
    background-color: #252850;
    color:rgb(206, 154, 86);
    transition: 0.7s;
    cursor: pointer;
}

div.cearch input{
    width: 350px;
    height: 30px;
}

.sub{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sub input{
    border: 1px solid #9ddbf3;
    border-radius: 3px;
    align-content: center;
    padding: 5px;
    background-color:antiquewhite;
    color:#4c7383 ;
    cursor: pointer;
}
.sub input:hover{
    background-color: rgb(95, 48, 17) ;
    color:rgb(206, 154, 86) ;
    transition: 0.7s;
    cursor: pointer;
}
#sconto{
    font-size: 30px;
    margin-top: 10px;
    font-family:'Amatic SC', cursive; 
    color: #9ddbf3;
}
    

main{
    height: 500px;
    background-image: url(daniel-leone-v7daTKlZzaw-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
    
}

.sell{
    display: flex;
    justify-content: space-around;
    background-color: #4c7383;
    

}

.sell img{
    width: 200px;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: 20px;
}

.sell img:hover{
    transition: 0.7s ;transform: scale(1.1);
    cursor: pointer;
}
.sell li{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    border: 1px solid antiquewhite;
    border-radius: 3px;
    padding: 5px;
    color: antiquewhite;
    margin-left: 20px;
}
.sell li:hover{
    background-color: rgb(220, 221, 165);
    color: #4c7383;
    border: 1px solid #222220;
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.8s;
}

div.scroll{
    background-color: #4c7383;
    width: fit-content;
    height: 500px;
    overflow-x:auto;
    overflow-y: hidden;
    text-align: center;
    padding: 20px;
    flex-direction: row;
    display: flex;
    background-image: url(antelope-canyon-sunbeams.jpg);
    background-size: cover;
}

p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 15px;
}
#tot{
    font-size: 20px;
}

div.footer{
    width: 100%;
    display: flex;
    background-color: #4c7383;
    justify-content: center;
    margin: 10px;
}
.footer input label{
    display: flex;
    padding: 10px ;
    background-color:rgb(206, 154, 86) ;
    color:rgb(95, 48, 17)  ;
    cursor: pointer;
    align-items: center;
    border-color: #000;
}
.footer li {
    list-style-type: none;
}
  
div.responsive-menu{
    align-content: center;
    width: fit-content;
    border: 1px solid rgb(220, 221, 165);
    border-radius: 5px;
  }
  .responsive-menu {
    display: block;
    background-color: rgb(206, 154, 86);
    color: rgb(95, 48, 17) ;
    text-align: center;
    padding: 10px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  .responsive-menu ul li label{
    background-color:rgb(206, 154, 86 );
    color:rgb(95, 48, 17)  ;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    width: 30px;
    border-color: #000;
  }

  .responsive-menu ul li ul li {
    padding: 10px;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    
  }
  .responsive-menu ul li ul li img{
    width: 25%;
    border: 1px solid antiquewhite;
  }
  .responsive-menu ul li ul li input{
    background-color: rgb(95, 48, 17) ;
    color:rgb(206, 154, 86) ;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
  }
  .responsive-menu ul li ul li input:hover{
    background-color: rgb(220, 221, 165);
    color: rgb(95, 48, 17);
  }

  .responsive-menu ul li ul {
    display: none;
    font-size: 60%;
    padding-top: 30px;

  }
  .responsive-menu ul li ul i{
    color: #000;
    cursor: pointer;
  }
  .responsive-menu ul li ul i:hover{
    transform: scale(1.1);
    color: antiquewhite;
    
  }
  #trigger {
    display: none;
  }
  #trigger:checked + .responsive-menu ul li:hover ul {
    display: block;
  }



body {font-family: Arial, Helvetica, sans-serif;}
        



    

em{
    font-size: 10px;
}

.final{
    display: flex;
    justify-content: space-between;
    background-color: #4c7383;
    margin-top: 30px;

}

div.final {
    justify-content: space-between;
    display: flex;
    align-content: center;
    list-style-type: none;
    flex-direction: row;
    
}

div.final ul{
    width: 100%;
    justify-content: space-around;
    display: flex;
}
.final ul li{
    display:inline-block;
    background-color: #4c7383;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    cursor: pointer;
    align-items: center;

    border-radius: 4px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: xx-small;
}
.final ul li:hover{
    background-color: antiquewhite;
    color: #4c7383;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid antiquewhite;
  box-sizing: border-box;
  border-radius: 33px;
}


button {
  background-color:#4c7383;;
  color:antiquewhite;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30px;
}

button:hover {
  opacity: 0.8;
  background-color: rgb(95, 48, 17) ;
  color:rgb(206, 154, 86) ;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #501611;
  border-radius: 33px;
  display: flex;
  justify-content: start;
  align-content: center;
}

 
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 2px;
}

.container {
  padding: 16px;
  border-radius: 30px;
  display: flex;
  margin: 40px;
  justify-content: space-around;
}

span.psw {
  display: flex;
  align-content: center;
  justify-content: end;
  padding-top: 16px;
  color: #000;
}

 
.modal {
  display: none;  
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;  
  background-color: rgb(0,0,0);  
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

  
.modal-content {
  background-color:#4c7383;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
  border-radius: 30px;
}

 
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

 
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}